# Credentials and Secrets
.env
.env.developer
frontend/.env
*.env
.env.*
! .env.example

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.venv/
build/
dist/
*.egg-info/

# Node / Frontend
node_modules/
/frontend/dist
/frontend/build
.eslintcache

# Logs and databases
*.log
submissions.txt
*.db
*.sqlite3

# OS files
.DS_Store
Thumbs.db
